<h1>Game.Room</h1>

<h3>Room - {{room.name}}</h3>
<div ng-hide='game'>
  <button ng-click='leaveRoom(room.name)'>Leave Room</button>
  <p>Players: 
    <span ng-repeat='(playerName, socket) in room.players'>{{playerName}}, </span>
  </p>
</div>
<div ng-show='game'>
  <p>{{gameStatus}}</p>
  <div class='game-me'>
    <h4>You</h4>
    <p>- {{game.me.role}} -</p>
    <button ng-show='(gameStatus.leader && gameTemp.chosenTeam.length < gameTemp.teamSize)' ng-click='chooseTeam(user.id)'>Pick</button>
  </div>

  <div class='game-players'>
    <div class='game-player' ng-repeat='(playerId, player) in game.players' ng-hide='playerId === user.id'>
      <h4>{{player.name}}</h4>
      <p>- {{player.role}} -</p>
      <button ng-show='gameStatus.leader && gameTemp.chosenTeam.length < gameTemp.teamSize' ng-click='chooseTeam(playerId)'>Pick</button>
    </div>
  </div>
</div>

<!-- game table -->
<div class='table-pick-team' ng-show='gameStatus.leader'>
  <h4>{{gameTemp.chosenTeam}}</h4>
  <p>Choosing Team: <span ng-repeat='playerId in gameTemp.chosenTeam' ng-click='removeFromTeam(playerId)'>{{game.players[playerId].name}}, </span></p>
  <button ng-show='gameTemp.chosenTeam.length === gameTemp.teamSize' ng-click='submitTeam()'>Submit</button>
</div>

<div class='table-vote-team' ng-show='gameStatus.voting'>
  <h4>{{gameTemp.teamLeader.name}} has chosen:</h4>
  <p><span ng-repeat='playerId in gameTemp.voteTeam'>{{game.players[playerId].name}}, </span></p>
  <div ng-show='gameTemp.vote === undefined'>
    <button ng-click='voteApprove()'>Approve</button>
    <button ng-click='voteReject()'>Reject</button>
  </div>
  <div ng-hide='gameTemp.vote === undefined'>
    <p>Your vote: {{gameTemp.vote ? 'Approve' : 'Reject'}}</p>
    <button ng-click='submitVote()'>Confirm</button>
    <button ng-click='cancelVote()'>Cancel</button>
  </div>
</div>

<div class='table-join-mission' ng-show='gameStatus.mission'>
  <h4>You are on a mission!</h4>
  <div ng-show='gameTemp.decision === undefined'>
    <button ng-click='decideSuccess()'>Success</button>
    <button ng-click='decideFail()'>Fail</button>
  </div>
  <div ng-hide='gameTemp.decision === undefined'>
    <p>Your decision: {{gameTemp.decision ? 'Success' : 'Fail'}}</p>
    <button ng-click='submitDecision()'>Confirm</button>
    <button ng-click='cancelDecision()'>Cancel</button>
  </div>
</div>

<div class='table-result' ng-hide='gameTemp.goodWins === undefined'>
  <h4>The {{gameTemp.goodWins ? 'good' : 'evil'}} prevail!</h4>
  <h2>YOU HAVE {{gameTemp.victory ? 'WON' : 'LOST'}}!</h2>
</div>
