body{
  font-family: 'Georgia', 'Times New Roman', serif;
  background-color: green;
}
.app{
  background-color: white;
}
.header{
  display: inline;
}
.header > div, .header > h1{
  display: inline;
}