<h3>Game.Lobby</h3>
<button ng-click='goToRoom()'>Go To Room</button>
<button ng-click='quitGame()'>Quit Game (Doesn't work)</button>
<a href='/' ng-click='$event.stopPropagation()'>Quit Game</a>

<input ng-model='openRoomName' placeholder='New Room Name...' \>
<button ng-click='openRoom(openRoomName)'>Open New Room</button>

<!-- Show all open rooms if user has not joined room -->
<div class='lobby-rooms' ng-hide='user.room'>
  <div class='lobby-room' ng-repeat='(roomName, room) in rooms'>
    <h4>{{roomName}} - {{room.count}} in room!</h4>
    <p>Players: 
      <span ng-repeat='(playerName, socket) in room.players'>{{playerName}} </span>
    </p>
    <button ng-click='joinRoom(roomName)'>Join</button>
  </div>
</div>

<!-- Show joined room if user has joined room -->
<div class='lobby-ownroom' ng-show='user.room'>
  <h4>You have joined {{user.room}} - {{rooms[user.room].count}} in room!</h4>
  <p>Players: 
    <span ng-repeat='(playerName, socket) in rooms[user.room].players'>{{playerName}} </span>
  </p>
  <button>Exit</button>
</div>
